.viewSearch{
    display: block;
    text-align: center;
}

.form {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
}

.form input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid black;
    width: 200px;
    font-size: 14px;
    outline: none;
    color: black;
}

.form .placeholder {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 24px);  
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.form input:focus + .placeholder {
    top: -14px;
    font-size: 10px;
    color: black;
}

.form input:not(:placeholder-shown) + .placeholder {
    top: -14px;
    font-size: 10px;
    color: black;
}

.form input:not(:placeholder-shown) + .placeholder
.form input:focus + .placeholder {
    top: -14px;
    font-size: 10px;
    color: black;
}

.enter{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding-left: 3rem;
    padding-right:3rem;
    padding-top: 0.2rem;
    padding-bottom:0.2rem;
    border-radius: 12px;
    cursor: pointer;
}